#chat-form {
  position: fixed;
  bottom: 0;
  width: 100%;

  input {
    font-size: 24px;
  }
  #chat_input {
    width: 85%;
  }
  input[type=submit] {
    width: 10%;
  }
  p {
    display:inline-block;
  }
}

#chats {
  position:relative;
  overflow-y:auto;
}

#chats-container {
  height: 450px;
  overflow:scroll;
}

#user-info {
  position:fixed;
  border: black 1px solid;
  top: 25px;
  right: 10px;
  background-color: grey;
}

#log-in{
  width: 280px;
  border:black 1px solid;
  display:inline-block;
  float:left;
}

#create-account{
  width: 625px;
  border:black 1px solid;
  display:inline-block;
  float:right;
}