body {
  background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/textured_paper.png); background-size: auto; background-repeat: repeat repeat;
}

h1 {
  margin:auto;
  width:200px;
  color:#abcb9c;
}

img {
}

#chat-form {
  position: fixed;
  bottom: 37px;
  width: 100%;

  input {
    font-size: 24px;
  }
  #chat_input {
    width: 65%;
    border-radius: 10px
  }
  input[type=submit] {
    width: 10%;
  }
  p {
    display:inline-block;
  }
}

#chats {
  position:relative;
  overflow-y:auto;
}

#chats-container {
  background-color: #abcb9c;
  height: 450px;
  overflow:scroll;
  border: #819976 3px solid;
  width:80%;
  margin:auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow:inset 4px 1px 54px #76CCD6;
  -moz-box-shadow:inset 4px 1px 54px #76CCD6;
  box-shadow:inset 4px 1px 54px #76CCD6;

}

#user-info {
  color:#abcb9c;
  position:fixed;
  width:230px;
  border: black 1px solid;
  top: 25px;
  right: 30px;
  background-color: grey;
  border-radius: 10px;
  -webkit-box-shadow:inset 4px 1px 7px #000;
  -moz-box-shadow:inset 4px 1px 7px #000;
  box-shadow:inset 4px 1px 7px #000;
}

#log-in{
  width: 280px;
  border:black 1px solid;
  display:inline-block;
  float:left;
}

#create-account{
  width: 625px;
  border:black 1px solid;
  display:inline-block;
  float:right;
}