#chat-form {
  position: fixed;
  bottom: 0;
  width: 100%;

  input {
    font-size: 24px;
  }
  #chat_input {
    width: 85%;
  }
  input[type=submit] {
    width: 10%;
  }
  p {
    display:inline-block;
  }
}

#user-info {
  position:fixed;
  border: black 1px solid;
  top: 25px;
  right: 10px;
  background-color: grey
}